<div class="jumbotron">
    <h1>Q2 Simple Blog</h1>
    <p>This is a simple blog application for our Q2 Project R Demo!</p>
    <p>
      {{#link-to "articles.new" class="btn btn-primary btn-lg"}}Post an Article{{/link-to}}
    </p>
</div>
